<div class="row">
  <div class="col-lg-6 offset-lg-2">
    <div>
      <% if @feed_items.any? %>
        <%= render @feed_items %>
      <% end %>
    </div>
    <div>
      <%= will_paginate @feed_items %>
    </div>
  </div>
  
  <div class="col-lg-3  d-lg-block d-none mb-3">
    <div>
      <div class="w-100">
        <a href="<%= user_url(current_user) %>">
          <%= image_tag current_user.avatar, class: "rounded-circle img-fluid d-block mx-auto my-3 show-avatar" %>
        </a>
      </div>
      <div class="border bg-white shadow-sm">
        <div class="text-center my-1">
          <a href="<%= user_url(current_user) %>", class="text-dark">
            <span class="font-weight-bold text-dark"><%= current_user.username %></span>
          </a></br>
          <span class="text-black-50"><%= current_user.fullname %></span>
        </div>
        <div class="border-top">
          <%= render 'shared/stats' %>
        </div>
      </div>
    </div>
  </div>
</div>