<div class="center">
  <div class="row mb-3">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-xl-6">
          <%= image_tag 'home用.jpg', class: "img-fluid d-xl-inline d-none" %>
        </div>
        <div class="col-xl-6">
          <div class="w-80">
            <div class="mx-3 mt-3">
              <%= image_tag "instagram.png", class: "img-fluid" %>
            </div>
            <div class="mx-auto text-center">
              <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-success my-2 mt-2 mb-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>