<% provide(:title, 'Login') %>
<div class="row mb-3">
  <div class="col-md-6  col-sm-10 mx-sm-auto mx-4 mt-4">
    <h1 class="text-center">Log in</h1>
    <div class="bg-white shadow-sm border mt-3">
      <div class="mx-3 mt-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: "Enter email" %>
          </div>
        
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "current-password", type: "password", class: "form-control", placeholder: "Password" %>
          </div>
        
           <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>
          
          <div>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_user_password_path(resource_name) , class: "text-info" %><br />
            <% end %>
          </div>
          
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-success my-2 btn-block" %>
          </div>
  
        <% end %>
        

        
        <p class="my-1 text-center">
          <span class="text-black-50"> または </span>
        </p>
        
        <div class="w-50 mx-auto my-3">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <p class="text-center">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
              </p>
            <% end %>
          <% end %>
        </div>
        
        <div class="mb-3">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-outline-success" %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>
