<% unless current_user == @user %>
  <div id="d-inline">
    <% if current_user.following?(@user) %>
     <%= render 'unfollow' %>
    <% else %>
     <%= render 'follow' %>
    <% end %>
  </div>
<% else %>
  <a href="<%=  edit_user_url current_user %>">
    <i class="fas fa-user-edit text-success"></i>
  </a>
<% end %>