<div class="d-flex mx-3 my-2 align-items-center">
  <div>
    <%= image_tag user.avatar, class: 'rounded-circle thumbnail' %>
  </div>
  <div class="mx-2">
    <%= link_to user.username, user, class: "text-wight-b font-weight-bold text-dark" %>
  </div>
</div>