<% provide(:title, "Edit user") %>

<h1 class="text-center">Edit User</h1>
<div>
  <div class="row mb-3">
    <div class="col-md-7  col-sm-10 mx-sm-auto mx-4 mt-4">
      <div class="bg-white shadow-sm border mt-3">
        <ul class="nav nav-tabs m-2">
          <li class="nav-item"><a class="nav-link text-success  active font-weight-bold" href="<%= edit_user_registration_url %>">プロフィールを編集</a></li>
          <li class="nav-item"><a class="nav-link font-weight-light text-success" href="<%= edit_user_registration_url %>">パスワードを編集</a></li>
        </ul> 
        <div class="mx-3 my-4">
          <%= form_for @user, html: { method: :patch } do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            
            <div class="form-group">
              <%= f.label :fullname, "Full Name" %>
              <%= f.text_field :fullname, class: "form-control", placeholder: "Full name"  %>
            </div>
            
            <div class="form-group">
              <%= f.label :username, "User Name" %>
              <%= f.text_field :username, class: "form-control", placeholder: "User name"  %>
            </div>
            
            <div class="form-group d-flex align-items-center">
              <%= image_tag @user.avatar, class: "rounded-lg show-avatar" %>
              <%= f.file_field :avatar, accept:'image/jpeg, image/gif, image/png', class: "form-control-file" %>
            </div>
            
            <div class="form-group">
              <%= f.label :website, "Website" %>
              <%= f.text_field :website, class: "form-control", placeholder: "Website"  %>
            </div>
            
            <div class="m-2">
              <p class="text-center text-black-50">非公開情報</p>
            </div>
            
            <div class="form-group">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: "Enter email" %>
            </div>
            
            <div class="form-group">
              <%= f.radio_button :sex, "男性"  %>
              <%= f.label :sex, "男性" %>
              <%= f.radio_button :sex, "女性"  %>
              <%= f.label :sex, "女性" %>
              <%= f.radio_button :sex, "その他"  %>
              <%= f.label :sex, "その他" %>
            </div>
            
            <div class="actions">
              <%= f.submit "Update", class: "btn btn-success my-2 btn-block" %>
            </div>
            
            <div class="my-3 d-flex justify-content-between flex-wrap">
              <%= link_to "アカウントを削除しますか", user_registration_url, method: :delete, class: "btn btn-outline-success d-block", data: { confirm: "本当に消去してもよろしいですか？" }  %>
              <%= link_to "ログアウト", destroy_user_session_url, method: :delete, class: "btn btn-outline-success d-block", data: { confirm: "本当にログアウトしますか？" }  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
