<% provide(:title, @user.username) %>

<div class="row mt-5">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-lg-4 offset-lg-1 d-lg-inline-block m-auto">
        <%= image_tag @user.avatar, class: "rounded-circle d-block mx-auto my-3 show-avatar" %>
      </div>
      <div class="col-lg-6 d-lg-inline-block ml-2">
        <div class="mt-3 show-w text-center mx-lg-0 mx-auto">
          <div class="d-inline-block font-weight-bold show-user-name"><%= @user.username %></div>
          <div class="d-inline-block m-2"><%= render 'users/user_edit_form' %></div>
        </div>
        <div class="show-w mx-lg-0 mx-auto">
          <%= render 'shared/stats' %>
        </div>
      </div>
      <div class="w-75 m-auto">
        <div cass="font-weight-light">
          <%= @user.fullname %>    <span class="text-black-50"><%= @user.website %></span>
        </div>
        <div>
          <%= @user.introduction %>
        </div>
      </div>
      <div class="border-top mt-2 pt-2 d-flex flex-wrap show-photo-w mx-auto">
        <% @user.photo_posts.each do |p| %>
          <div class="pl-1">
            <a href="<%= photo_post_url(p) %>">
              <%= image_tag p.photo.thumb.url, class: "mb-1 show-thumb-photo" %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



