<% if photo_post.liked?(current_user) %>
  <div class="d-flex">
    <span>
      <%= form_for(current_user.likes.find_by(photo_post_id: photo_post.id),
          html: { method: :delete }) do |f| %>
        <%= f.submit "いいね", class: "" %>
      <% end %>
    </span>
    <span>
      <i class="fas fa-heart fa-sm ml-2 text-danger"></i>
    </span>
    <span class="pl-1 text-dark"><%= photo_post.likes.count %></span>
  </div>
<% else %>
  <div class="d-flex">
    <span>
      <%= form_for current_user.likes.build do |f| %>
        <%= hidden_field_tag :photo_post_id, photo_post.id %>
        <%= f.submit "いいね" %>
      <% end %>
    </span>
    <span>
      <i class="far fa-heart fa-sm ml-2"></i>
    </span>
    <span class="pl-1 text-dark"><%= photo_post.likes.count %></span>
 </div>
<% end %>