<div class="text-center">
  <div class="m-2">
    <a href="<%= user_url(@user) %>", class="text-muted">
      <span class="font-weight-light text-muted">投稿<%= @user.photo_posts.count %>件</span>
    </a>
  </div>
  
  
  <div class="mb-2">
    <div class="d-xl-inline-block p-2">
      <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#followersModal">
        フォロワー</br><%= @user.followers.count %>人
      </button>
    </div>
    <div class="d-xl-inline-block p-2">
      <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#followingModal">
        フォロー中</br><%= @user.following.count %>人
      </button>
    </div>
  </div>
</div>



<!-- Modal followers -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">フォロワー</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render @user.followers %>
      </div>
    </div>
  </div>
</div>

<!-- Modal following -->
<div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">フォロー中</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render @user.following %>
      </div>
    </div>
  </div>
</div>