<div class="border mb-5 shadow-sm">
  <a href="<%= user_path photo_post.user %>" class="text-dark">
    <div class="border d-flex pl-3 py-1 bg-white">
      <%= image_tag photo_post.user.avatar, class:"rounded-circle thumbnail mr-3" %>
      <div class="my-auto">
        <h5 class="mb-0"><%= photo_post.user.username %></h5>
      </div>
    </div>
  </a>
  <div>
    <div class="content">
      <a href="<%= photo_post_url photo_post %>">
        <%= image_tag photo_post.photo, class: "img-fluid border" %>
      </a>
    </div>
    <div class="bg-white border p-2">
      <div class="text-danger"><%= render 'shared/like_form', photo_post: photo_post %></div>
      <div>
        <span class="font-weight-bold"><%= photo_post.user.username %></span>
        <span><%= photo_post.description %></span>
      </div>
      <div class="p-2">
        <% photo_post.comments.each do |c| %>
          <div>
            <span class="text-info"><%= c.user.username %></span>
            <span class="font-weight-light pl-2"><%= c.content %></span>
          </div>
        <% end %>
      </div>
      <div class="w-100">
        <%= form_for(current_user.comments.build, url: comments_url) do |f| %>
          <%= hidden_field_tag :photo_post_id, photo_post.id, name: "comment[photo_post_id]" %>
          
          <div class="d-inline-block w-75"><%= f.text_field :content,class: 'comment-form border-0 w-100', placeholder: "コメントを追加…", required: "required"  %></div>
          <div class="d-inline-block"><%= f.submit '投稿する', class: "btn btn-outline-info btn-sm" %></div>
        <% end %>
      </div>
      <span class="timestamp text-black-50 font-weight-light">
        <%= time_ago_in_words(photo_post.created_at) %>前
      </span>
    </div>
  </div>
</div>
