<% provide(:title, 'upload') %>

<div>
  <%= form_for(@photo_post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.file_field :photo, accept:'image/jpeg, image/gif, image/png' %>
    
    <%= f.text_area :description, class: 'form-control' %>
  
    <%= f.submit 'シェアする', class: "btn btn-primary" %>
  <% end %>
</div>

<script type="text/javascript">
  $('#photo_post_photo').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert('最大容量は４メガバイドです。小さい容量のファイルを選んでください。');
    }
  });
</script>