<% provide(:title, @photo_post.user.username) %>

<div class="row">
  <div class="col-8 offset-2 mx-auto my-3">
    <div class="photo-show border bg-white mx-auto">
      <div>
        <%= image_tag @photo_post.photo.url, class: "img-fluid" %>
      </div>
      <div>
        <div class="d-flex align-items-center mt-2 ml-3">
          <a href="<%= user_url(@photo_post.user) %>">
            <%= image_tag(@photo_post.user.avatar.url, class: "rounded-circle d-block ml-2 my-3 thumbnail") %>
          </a>
          <span class="ml-1 font-weight-bold">
            <%= render 'shared/like_form', photo_post: @photo_post %>
            <%= link_to @photo_post.user.username, @photo_post.user, class: " text-dark" %>
          </span>
          <a href="<%= photo_post_url(@photo_post) %>" rel="nofollow" data-method="delete" data-confirm="本当に消去してもよろしいですか？" class="ml-auto mr-3">
            <i class="far fa-trash-alt text-success fa-lg"></i>
          </a>
        </div>
        <div class="mx-3 mb-2">
          
          <%= @photo_post.description if @photo_post.description %>
          <div class="p-2">
            <% @photo_post.comments.each do |c| %>
              <div class="d-flex align-items-center">
                <span class="text-info"><%= c.user.username %></span>
                <span class="font-weight-light pl-2"><%= c.content %></span>
                <a href="<%= comment_path(c) %>"data-method="delete" data-confirm="本当に消去してもよろしいですか？" class="ml-auto mr-3">
                  <i class="fas fa-eraser text-dark fa-sm"></i>
                </a>
              </div>
            <% end %>
          </div>
          <div class="w-100">
            <%= form_for(current_user.comments.build, url: comments_url) do |f| %>
              <%= hidden_field_tag :photo_post_id, @photo_post.id, name: "comment[photo_post_id]" %>
              
              <div class="d-inline-block w-75"><%= f.text_field :content,class: 'comment-form border-0 w-100', placeholder: "コメントを追加…", required: "required"  %></div>
              <div class="d-inline-block"><%= f.submit '投稿する', class: "btn btn-outline-info btn-sm" %></div>
            <% end %>
          </div>
          <p class="text-black-50 font-weight-light"><%= time_ago_in_words(@photo_post.created_at) %>前</p>
        </div>
      </div>
    </div>
  </div>
</div>
