<% provide(:title, 'Forget Password') %>
<div class="row mb-3">
  <div class="col-md-6  col-sm-10 mx-sm-auto mx-4 mt-4">
    <h1 class="text-center">Forget Password</h1>
    <div class="bg-white shadow-sm border mt-3">
      <div class="mx-3 mt-4">
        <p class="font-weight-bold text-center text-primary">ログインできない場合は下記を入力して下さい</p>
        <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
          </div>
          <div class="actions">
            <%= f.submit "ログインリンクを送信", class: "btn btn-success my-2 btn-block" %>
          </div>
        <% end %>
        
        <p class="my-1 text-center">
          <span class="text-black-50"> または </span>
        </p>
        
        <div class="w-50 mx-auto my-3">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <p class="text-center">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
              </p>
            <% end %>
          <% end %>
        </div>
        
        <div class="mb-3">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-outline-success" %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>
