@import "bootstrap";


// body

body{
  background: #F2F2F2;
  margin-top: 50px;
}

// miscellaneous 

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
  background: #DDD;
}

/* _photo_posts _user */

.thumbnail{
  height: 50px;
  width: 50px;
}

input.comment-form:focus {
  outline: none;
}

// header

a.logo{
  color: black;
  &:hover{
    text-decoration: none;
  }
  .logo-text{
    font-size: 35px;
  }
}

// new

.login{
  width: 550px;
}

// users/show users/edit

.show-user-name{
  font-size: 30px;
}

.show-w{
  width: 300px;
}

.show-photo-w{
  width: 780px;
}

img.show-thumb-photo{
  width: 250px;
  height: 250px;
}

img.show-avatar{
  width: 200px;
  height: 200px;
}


// photo_show

div.photo-show{
  max-width: 600px;
}
