<footer class="footer">
  <div class="border-top pt-4 px-3">
    <div class="float-left ">
      <small>
        © 2019 INSTAGRAM clone
      </small>
    </div>
    <% if user_signed_in? %>
      <div class="w-100">
        <div class="m-auto w-25 text-center">
          <a href="<%= new_photo_post_url %>" class="">
            <i class="far fa-plus-square fa-3x align-bottom text-success"></i>
          </a>
        </div>
      </div>
    <% end %>

  </div>
</footer>