<header>
  <div class="mb-4 py-3">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top">
        <div class="ml-md-5">
          <a href="<%= root_path %>" class="hanvbar-brand logo">
            <i class="fab fa-instagram fa-3x align-bottom"></i>
            <span class="logo-text pl-2">Instagram</span>
          </a>
        </div>
          
        <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav mx-auto">
          </ul>
          
          <ul class="navbar-nav mr-5">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My page", current_user, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>