<% provide(:title, "Edit user") %>

<h1 class="text-center">Edit User</h1>
<div>
  <div class="row mb-3">
    <div class="col-md-7 col-sm-10 mx-sm-auto mx-sm-4 mt-4">
      <div class="bg-white shadow-sm border mt-3">
        <ul class="nav nav-tabs m-2">
          <li class="nav-item"><a class="nav-link text-success font-weight-light" href="<%= edit_user_url(current_user) %>">プロフィールを編集</a></li>
          <li class="nav-item"><a class="nav-link active font-weight-bold text-success" href="<%= edit_user_registration_url %>">パスワードを編集</a></li>
        </ul> 
        <div class="mx-3 my-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            
            <div class="form-group">
              <%= f.label :current_password, "現在のパスワード" %>
              <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", type: "password", class: "form-control", placeholder: "Current Password" %>
            </div>
            
            <div class="form-group">
              <%= f.label :password, "新しいパスワード" %>
              <%= f.password_field :password, autocomplete: "new-password", type: "password", class: "form-control", placeholder: "New Passwordl" %>
              <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em></br>
              <% end %>
            </div>
          
            <div class="form-group">
              <%= f.label :password_confirmation, "パスワード確認" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", class: "form-control", placeholder: "Confirmation Password" %>
            </div>
            <div>
              <%= link_to "Forgot your password?", new_user_password_path(resource_name) , class: "text-info" %><br />
            </div>
            <div class="actions">
              <%= f.submit "Update", class: "btn btn-success my-2 btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
