<% provide(:title, 'Sign up') %>

<div class="row mb-3">
  <div class="col-md-6  col-sm-10 mx-sm-auto mx-4 mt-4">
    <h1 class="text-center">Sign up</h1>
    <p class="font-weight-light text-center">
      友達の写真や動画をチェックしよう
    </p>
    <div class="bg-white shadow-sm border mt-3">
      <div class="mx-3 mt-4">
        <p class="font-weight-bold text-center text-primary">入力してください</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", placeholder: "email   ※必須", required: "required" %>
          </div>
          
          <div class="form-group">
            <%= f.text_field :fullname, class: "form-control", placeholder: "Full name"  %>
          </div>
          
          <div class="form-group">
            <%= f.text_field :username, class: "form-control", placeholder: "User name  　※必須", required: "required"  %>
          </div>
          
          <div class="form-group">
            <%= f.file_field :avatar, accept:'image/jpeg, image/gif, image/png', class: "form-control-file" %>
          </div>
        
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "new-password", type: "password", class: "form-control", placeholder: "Password 　  ※必須", required: "required" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          </div>
          
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", class: "form-control", placeholder: " Confirmation password", required: "required" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>
          
          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-success my-2 btn-block" %>
          </div>
  
        <% end %>
        

        
        <p class="my-4 text-center">
          <span class="text-black-50"> または </span>
        </p>
        
        <div class="w-50 mx-auto my-3">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <p class="text-center">
                <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
              </p>
            <% end %>
          <% end %>
        </div>
        
        <div class="mb-3">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-outline-success" %>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#avatar').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert('最大容量は４メガバイドです。小さい容量のファイルを選んでください。');
    }
  });
</script>
